/* @import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --green: #a3cf61;
    --green-hovered: #42857f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk";
    scroll-behavior: smooth;
    /* color: black; */
}

.video-container {
    position: relative;
    width: 100%;
    /* height: clamp(40rem, 10vh, 50rem); */
    height: 100dvh;
}

.home-page-video {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    filter:brightness(0.75);
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.slogan-container {
    position: absolute;

    bottom: 15%;
    left: 10%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

    /* display: inline-box; */
}

.slogan {
    /* position: absolute; */
    /* top: 70%; */
    /* right: 50%; */
    /* transform: translate(100%, -50%); */
    font-size: clamp(2.2rem, 5vw, 5rem); /* scales between 1.5rem and 4rem based on viewport width */
    color: white;
    filter: drop-shadow(0px 0px 2px #000000);
    /* white-space: nowrap; */
}

a.product-button {
    display: flex;
    background-color: var(--green);

    padding: 0.8rem;
    padding-left: 1.2rem;
    border-radius: 13px;

    align-items: center;
    white-space: nowrap;

    color: black;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    text-decoration: unset;
}

a.product-button svg {
    /* display: inline-block; */
    margin-left: 0.5rem;
    align-self: center;
}

a.product-button:hover,
a.product-button:focus {
    color: white;
    background-color: var(--green-hovered);
    transition-duration: 150ms;
    text-decoration: unset;
}

nav {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    z-index: 1;

    align-items: center; /* vertically center aligned */
    border-bottom: solid rgba(255, 255, 255, 0.5) 1px;
}

.logo {
    width: 6rem;
}

.nav-bar {
    display: flex;
    flex: 1;  /* this fills all the space after logo */
    justify-content: center;
}

.nav-bar a {
    padding: 1rem;
    font-size: 1rem;
    text-decoration: unset;
    text-align: center;
    color: white;
}

.nav-bar a:hover, 
.nav-bar a:focus {
    color: var(--green);
    transition-duration: 150ms;
}

@media (max-width: 20rem) {
    .nav-bar {
        display: block;
        justify-items: center;
    }    

    .nav-bar a {
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}

@media (max-width: 30rem) {
    nav {
        flex-direction: column;
        padding: 1rem 1rem;
    }
}

.two-col {
    display: grid;
    /* align-items: center; */
    grid-template-columns:
        /* auto auto; */
        /* auto minmax(20rem, 39rem); */
        repeat(auto-fit, minmax(min(400px, 100%), 1fr));
    gap: 3rem;
}

/* @media (max-width: 30rem) {
    .two-col {
        grid
    }
    
} */

section {
    /* margin: 5rem 16rem; */
    margin-inline: clamp(1.5rem, 10vw, 16rem);
    margin-block: clamp(1.5rem, 10vw, 3rem);
}

h1 {
    /* margin: 0 2rem; */
    margin-bottom: 2rem;
    font-size: 3rem;
}

p {
    font-size: clamp(1rem, 10vw, 1.2rem);
    /* font-size: 2vw; */
}

@media (max-width: 30rem) {
    h1 {
        margin: 1rem 0;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .two-col {
        display: grid;
        /* align-items: center; */
        grid-template-columns:
            /* auto auto; */
            /* auto minmax(20rem, 39rem); */
            repeat(auto-fit, minmax(min(40rem, 100%), 1fr));
        gap: 1rem;
    }
}

.img-fluid {
    width: 100%;
    height: auto;
}
